/.idea/.gitignore
/.idea/vcs.xml
/.idea/Servo-Connections.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/Lib/site-packages/
/Scripts/
/servo_serial.egg-info/
/dist/
/pyvenv.cfg
/.idea/Battery-charge-monitoring.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Servo-voltage.iml
/servo_voltage.egg-info/dependency_links.txt
/servo_voltage.egg-info/PKG-INFO
/servo_voltage.egg-info/requires.txt
/servo_voltage.egg-info/SOURCES.txt
/servo_voltage.egg-info/top_level.txt
/UnitTests/customDirrectory/
/UnitTests/voltage.json
