[Unit]
Description=Notification daemon
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/srv/daemons/
ExecStart=/usr/bin/python3 /var/lib/voltage-daemons/NotificationDaemon.py -l /var/log/notification-daemon.log -t 5 -j /tmp/voltage.json

[Install]
WantedBy=multi-user.target
